<br>
<div class="box">
<h3><%= @collcomments_count %>&nbsp<%= "comment".pluralize(@collcomments_count) %></h3>

<%= form_for([@job, @application, @collcomment]) do |f| %>
  <%= f.text_area :body_nomark, :rows => "3", :placeholder => "Write a comment" %>
  <br>
  <div class="boxline actions">
    <div class="boxline actions markdown_help_toggler">
      <div class="markdown_help_label">
        Markdown formatting available
      </div>
      <%= f.submit("Post") %>
      <div style="clear: both;"></div>
      <%= render :partial => "global/markdownhelp"%>
    </div>
  </div>
<% end %>
<br>

<%= render :partial => 'collcomments/comm', :collection => @collcomments %>

</div>