<div class="box">
  <h4><%= link_to "< Back to Applications" , job_applications_path(@job.id) %>&nbsp&nbsp&nbsp<%= link_to "< Back to Job" , job_path(@job.id) %></h4>
</div>

<div class="box">
<h2 style="margin-bottom:5px;"><%= @job.is_closed ? "[ARCHIVED]" : "" %> Applicant details</h2>

<% if @application.applicant == current_user && !@job.is_closed %>
    <%= link_to "Edit", edit_job_application_path(@job, @application), :style => "color:#888;text-decoration:none;" %>
  <span style="color: #888;">|</span>
    <%= link_to "Delete", job_application_path(@job, @application), method: :delete, data: { confirm: 'Are You Sure?' }, :style => "color:#888;text-decoration:none;" %>
<% end %>

<% if user_signed_in? && ((current_user == @job.poster)||(@job.collaborators.include?(current_user))) %>
  <div class="box" style="float:right;">
    <h3>Current Status: <%= @application.status %></h3>
    <% if !@job.is_closed %>
    <% (@application.av_status - ["Applied"]).each do |x| %>
      <h4><%= link_to x == "Hired" ? x.upcase.chomp('D') : x.upcase.chomp('ED') , change_status_job_application_path(@job, @application, x), method: :post  %></h4>
    <% end %>
    <h4><%= link_to "Reset".upcase , change_status_job_application_path(@job, @application, "Applied"), method: :post  %></h4>
    <h4><%= link_to "Ask a Question".upcase , new_job_application_appl_question_path(@job, @application) %></h4>
    <h4><%= link_to "See Questions".upcase , job_application_appl_questions_path(@job, @application) %></h4>
    <% end %>
  </div>
<% end %>

<% if @application.applicant == current_user && !@job.is_closed %>
  <div class="box" style="float:right;">
    <% if @application.status == "Hired" %>
      <h3>Status: <%= @application.status %></h3>
    <% end %>
    <h4><%= link_to "See Questions".upcase , job_application_appl_questions_path(@job, @application) %></h4>
  </div>
<% end %>

<h3>Name</h3>
<p><%= @application.name %></p>

<h3>Email</h3>
<p><%= @application.email %></p>

<h3>Contact no</h3>
<p><%= @application.phoneno %></p>

<h3>Details</h3>
<p><%= raw @application.details %></p>

<% if @application.is_referred %>
<h3>Referrer</h3>
<p>
<%= link_to job_application_referrer_path(@job, @application) do %>
  <%= @application.referrer_name %>
<% end %>
</p>
<% end %>
</div>

<% if (@job.poster == current_user)||(@job.collaborators.include?(current_user)) %>
<%= render 'collcomments/commcard' %>
<div class="morelink">
  <% if @page && @page > 1 %>
    <a href="/jobs/<%= params[:job_id] %>/applications/<%= params[:id] %><%= @page == 2 ? "" : "/page/#{@page - 1}" %>">&lt;&lt; 
      Page <%= @page - 1 %></a>
  <% end %>

  <% if @collcomments.count == 20 %>
    <% if @page && @page > 1 %>
      |
    <% end %>

    <a href="/jobs/<%= params[:job_id] %>/applications/<%= params[:id] %>/page/<%= @page + 1 %>">Page
      <%= @page + 1 %> &gt;&gt;</a>
  <% end %>
</div>
<% end %>