<%= form_for @job do |f| %>

<% if f.object.errors.any? %>
  <%= error_messages_for f.object %>
<% end %>

<div class="box">

<div class="legend">
  Submit a job
</div>

<div class="boxline">
<%= f.label :title, :class => "required" %>
<%= f.text_field :title, :maxlength => 100 %>
<div class="hintblock">Clearly mention the job position being offered</div>
</div>
<br>

<div class="boxline">
<%= f.label :company_name, :class => "required" %>
<%= f.text_field :company_name, :maxlength => 100 %>
<div class="hintblock">Mention your company's name, don't put things like stealth startup etc, mention your name in that case</div>
</div>
<br>

<div class="boxline">
<%= f.label :intro, :class => "required" %>
<%= f.text_field :intro, :maxlength => 100 %>
<div class="hintblock">Give a one line intro about the job and/or your company</div>
</div>
<br>

<div class="boxline">
<%= f.label :desc, "Description", :class => "required" %>
<%= f.text_area :desc, :style => "width: 709px !important;", :rows => 5 %>
<div class="hintblock">Give a brief description of the job, what it entails, about your company, tasks etc</div>
</div>
<br>

<div class="boxline">
<%= f.label :skills_reqs, "Skills Required", :class => "required" %>
<%= f.text_area :skills_reqs, :style => "width: 709px !important;", :rows => 5 %>
<div class="hintblock">Leave this empty if you have already mentioned this in description field above</div>
</div>
<br>

<div class="boxline">
<%= f.label :about_company, :class => "required" %>
<%= f.text_area :about_company, :style => "width: 709px !important;", :rows => 5 %>
<div class="hintblock">Leave this empty if you have already mentioned this in description field above</div>
</div>
<br>

<div class="boxline">
<%= f.label :pay, :class => "required" %>
<%= f.number_field :pay, :maxlength => 100, :style => "max-width: 95% !important;width: 709px !important;" %>
<div class="hintblock">Mention the pay package being offered, leave it at 0 if no renumeration is being offered</div>
</div>
<br>

<div class="boxline">
<%= f.label :location, :class => "required" %>
<%= f.text_field :location, :maxlength => 100 %>
<div class="hintblock">Mention the location of your company where this job is being offered, mention REMOTE if it is a remote/work-from-home job</div>
</div>
<br>

<div class="boxline">
<%= f.label :req_subs, "Required details", :class => "required" %>
<%= f.text_field :req_subs, :maxlength => 100 %>
<div class="hintblock">Give a comma seperated list of the required documents and details that the candidate must submit</div>
</div>
<br>

</div>

<div class="box">
<div class="boxline actions">
<%= f.submit(@job.new_record? ? 'Create' : 'Edit') %>
</div>
</div>


<% end %>