<div class="box">
<h2 style="margin-bottom:5px;"><%= @job.title %></h2>

<% if (@job.poster == current_user)||(@job.collaborators.include?(current_user)) %>
    <%= link_to "Edit", edit_job_path(@job), :style => "color:#888;text-decoration:none;" %>
  <span style="color: #888;">|</span>
    <%= link_to "Delete", @job, method: :delete, data: { confirm: 'Are You Sure?' }, :style => "color:#888;text-decoration:none;" %>
<% end %>


<% if Rails.application.config.anon_apply == true %>
  <% if user_signed_in? %>
    <% if (current_user != @job.poster)&&(!@job.collaborators.include?(current_user)) %>
    <% # A side effect of allowing anonymous applying is tht now show button will be shown to a user even if he has already applied %>
      <% #!@job.applications.pluck(:applicant_id).include?(current_user.id) %>    
        <%= link_to "APPLY", new_job_application_path(@job), :style => "float:right;" %>
      <% #end %>
    <% end %>
  <% else %>
    <%= link_to "APPLY", new_job_application_path(@job), :style => "float:right;" %>
  <% end %>
<% else %>
  <% if (!user_signed_in?)&&(current_user != @job.poster)&&(!@job.applications.pluck(:applicant_id).include?(current_user.id))&&(!@job.collaborators.include?(current_user)) %>
    <%= link_to "APPLY", new_job_application_path(@job), :style => "float:right;" %>
  <% end %>
<% end %>

<% if user_signed_in? && @job.applications.pluck(:applicant_id).include?(current_user.id) %>
 <%= link_to "SEE YOUR APPLICATION", job_application_path(@job, Application.where(:applicant_id => current_user.id, :job_id => @job.id).first), :style => "float:right;" %>
<% end %>

<% if user_signed_in? && ((current_user == @job.poster)||(@job.collaborators.include?(current_user))) %>
  <div class="box" style="float:right;">
   <h3>No of applications: <%= @job.applications.count %></h3>
   <%= link_to "SEE APPLICATIONS", job_applications_path(@job) %><br>
   <%= link_to "Add Collaborator", add_collab_path(@job) %>
   <% if user_signed_in? && (current_user == @job.poster) %>
     <br><%= link_to "Collaborators list", job_collabs_path(@job) %>
   <% end %>  
  </div>
<% end %>

<h4><%= @job.company_name %></h4>
<h4 style="color: grey;"><%= @job.intro %></h4>

<h3>Description</h3>
<%= @job.desc %>

<% if !@job.skills_reqs.blank? %>
<h3>Required Skills</h3>
<% end %>

<p><%= @job.skills_reqs %></p>
<% if !@job.skills_reqs.blank? %>
<h3>About the Company</h3>
<% end %>

<p><%= @job.about_company %></p>

<h3>Location</h3>
<p><%= @job.location %></p>

<h3>Required Submits</h3>
<p><%= @job.req_subs %></p>
</div>