<% if user_signed_in? %>
  <div class="box">
      <h4><%= link_to "< Back to Jobs" , jobs_path %></h4>
  </div>
<% end %>

<div class="box">

<div class="legend">
  Jobs you collaborate for
</div>
</div>

<div class="box search_box">
<h4>Search:</h5>
<%= form_tag user_collaborations_path, method: :get do %>
  <div class="form-group">
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag 'Search' %>
    <% if params[:utf8].present? %>
      <br>
      <%= link_to "Show all", user_collaborations_path %>
    <% end %>
    <p style="margin:0px;"><em>You can search jobs also by details of any of its applications</em></p>
  </div>
<% end %>
<br>
</div>

<ol class="stories list">
  <%= render :partial => "jobs/listitem", :collection => @user_collaborations,
    :as => :job %>
</ol>

<div class="morelink">
  <% if @page && @page > 1 %>
    <a href="/u/collaborations/<%= @name_user.username %><%= @page == 2 ? "" : "/page/#{@page - 1}" %>">&lt;&lt; 
      Page <%= @page - 1 %></a>
  <% end %>

  <% if @user_collaborations.count == 20 %>
    <% if @page && @page > 1 %>
      |
    <% end %>

    <a href="/u/collaborations/<%= @name_user.username %>/page/<%= @page + 1 %>">Page
      <%= @page + 1 %> &gt;&gt;</a>
  <% end %>
</div>