<span class="link">
	<%= link_to user_path(User.find(accept.requestee_id).username) do %>
		<%= User.find(accept.requestee_id).username %>
	<% end %>
</span>
<br>
<% if accept.booking_date == nil %>
	No reply yet
<% else %>
	<div><h4 style="display:inline-block;margin:0px;">Date:</h4> <p style="display:inline-block;margin:0px;"><%= accept.booking_date %></p></div>
	<div><h4 style="display:inline-block;margin:0px;">From:</h4> <p style="display:inline-block;margin:0px;"><%= accept.start_time.to_s %></p></div>
	<div><h4 style="display:inline-block;margin:0px;">To:</h4> <p style="display:inline-block;margin:0px;"><%= accept.end_time.to_s %></p></div>
<% end %>
<br>
